.container {
    width: 100%;
}
.input {
    height: 40px;
    width: 90%;
    margin: 10px 5%;
    padding: 16px 15px;
    border-radius: 9px;
    font-size: 19px;
}
.card {
    margin: 1rem;
    width: 80%;
    text-align: left;
    cursor: pointer;
    color: inherit;
    text-decoration: none;
    border-radius: 50px;
    transition: color 0.15s ease, border-color 0.15s ease;
    max-width: 300px;
    background-color: #5952ff;
    color: white;
}
.card:hover,
.card:focus,
.card:active {
    border-color: #0070f3;
}

.card h2 {
    font-size: 1.3rem;
    text-align: center;
}

.card p {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5;
}
.selectContainer {
    width: 90%;
    border-radius: 100px;
    border-color: grey;
    border-width: 2px;
}
